params {

    // Dataset options
    quantileCount = 1
    populationCount = 100
    tryCount = 1000
    attributeAlleleFrequency = 0.2

    alleleFrequencyMin = 0.4   // Corresponds to -n
    alleleFrequencyMax = 0.5   // Corresponds to -x
    totalAttributeCount = 100  // Corresponds to -a
    caseCount = 500            // Corresponds to -s
    controlCount = 500         // Corresponds to -w
    replicateCount = 10        // Corresponds to -r
    outputPrefix = ""          // Corresponds to -o (da input file)

}

process {

    withName: GAMETESDATASETS {
        ext.args = [
            "--quantileCount ${params.quantileCount}",
            "--populationCount ${params.populationCount}",
            "--tryCount ${params.tryCount}",
            "--randomSeed ${params.randomSeed}",
        ].join(' ').trim()

        ext.args2 = [
            "--alleleFrequencyMin ${params.alleleFrequencyMin}",
            "--alleleFrequencyMax ${params.alleleFrequencyMax}",
            "--totalAttributeCount ${params.totalAttributeCount}",
            "--caseCount ${params.caseCount}",
            "--controlCount ${params.controlCount}",
            "--prevalence ${params.prevalence}",
            "--replicateCount ${params.replicateCount}"
        ].join(' ').trim()

    }

    // flags funzioni Gametes
    withName: gametes_simulation {
        ext.args = [
            "-n ${params.alleleFrequencyMin}",
            "-x ${params.alleleFrequencyMax}",
            "-a ${params.totalAttributeCount}",
            "-s ${params.caseCount}",
            "-w ${params.controlCount}",
            "-r ${params.replicateCount}",
            "-o ${params.outputPrefix}"
        ].join(' ').trim()
    }
}
