params {

    // Dataset options
    quantileCount = 1
    populationCount     = 100
    tryCount = 1000
    attributeAlleleFrequency     = 0.2
    randomSeed     = 123
    alleleFrequencyMin      = 0.4
    alleleFrequencyMax      = 0.4
    totalAttributeCount     = 100
    caseCount     =  50
    controlCount     = 50
    prevalence     = 0.3
    replicateCount     = 1

}

process {

    withName: GAMETES_GENERATEDATASETS {
        ext.args = [
            "--quantileCount ${params.quantileCount}",
            "--populationCount ${params.populationCount}",
            "--tryCount ${params.tryCount}",
            "--randomSeed ${params.randomSeed}",
        ].join(' ').trim()

        ext.args2 = [
            "--alleleFrequencyMin ${params.alleleFrequencyMin}",
            "--alleleFrequencyMax ${params.alleleFrequencyMax}",
            "--totalAttributeCount ${params.totalAttributeCount}",
            "--caseCount ${params.caseCount}",
            "--controlCount ${params.controlCount}",
            "--prevalence ${params.prevalence}",
            "--replicateCount ${params.replicateCount}"
        ].join(' ').trim()

    }
}
